.todolist {
    background-color: whitesmoke;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;

    border: 2px solid transparent; /* Начальный цвет границы */
    transition: all 0.3s ease;
}

.todolist:hover {
    border: 2px solid rgba(0, 0, 255, 0.5); /* Изменение цвета границы при наведении */
    transform: scale(1.05); /* Увеличение размера */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Увеличение тени */
    outline: none;
}

.buttons {
    margin: 0 5px;
    padding: 7px 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
}
.buttons:focus {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Тень при фокусе */
    outline: none;                         /* Убирает стандартный фокус */
}
.input {
    padding: 10px;                         /* Внутренние отступы */
    border: 1px solid lightgrey;          /* Рамка инпута */
    border-radius: 5px;                   /* Закругленные углы */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Тень */
    transition: box-shadow 0.3s ease;     /* Плавный переход для тени */
}

.input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Тень при фокусе */
    outline: none;                         /* Убирает стандартный фокус */
}
.header {
    text-align: center;
}