.input {
    padding: 10px;                         /* Внутренние отступы */
    border: 1px solid lightgrey;          /* Рамка инпута */
    border-radius: 5px;                   /* Закругленные углы */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Тень */
    transition: box-shadow 0.3s ease;     /* Плавный переход для тени */
}

.input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Тень при фокусе */
    outline: none;                         /* Убирает стандартный фокус */
}